# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# macOS finder cache file
.DS_Store

# VS Code settings
.vscode

# Lockfiles
yarn.lock
package-lock.json

# Built stuff
studio/dist